{
  "plugins": ["@typescript-eslint"],
  "rules": {
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["off"],
        "@typescript-eslint/no-use-before-defin": ["off"]
      }
    }
  ]
}